/* this file is just describe DEMO pages base style, its not required for correct work of extension */


input {
    width : 300px; 
    padding : 6px; 
    border: 0px; 
    box-sizing: border-box;
}
            
#wraper {
    margin-top : 15px;
}

#picker-self-resized {
    
    width : 100%;
}

.picker-block {
    padding : 12px;
    width : 30%;
    margin : 0 auto;
    max-width : 250px;
    text-align : center;
}
